<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>topicDiscussionContent</key>
		<string>1.主题：客栈主题，不同模块采用客栈区分，如“程序员客栈”、“咖啡客栈”、“宠物客栈”等等等等</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>2.同一客栈内，只允许发布该主题范围内帖子进行讨论</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>3.客栈内帖子内容规范，由客栈管理员进行管理，所以管理员的申请需严谨完善，并制定完善的客栈申请审核制度</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>4.帖子内容可进行点赞评论等，帖子可进行收藏</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>5.可匿名发表评论，但暂定不允许匿名发帖</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>6.匿名需完善的匿名策略（待讨论），不可发布违反法律法规的评论等，经举报后，由管理员严格审核，如属实，实时删除，如不处理，对管理员进行惩罚</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>7.匿名可不登录进行评论，无论登录与否，匿名者半可追踪（根据IP及设备ID等，另外考虑其他加密等方式进行匿名方案，主要防止简单破解真实匿名者，并在出现违反法律法规的情况下，可真实追踪，前期可不考虑），登录者匿名评论不计入账户评论列表，实现真实匿名</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>8.区别于知乎贴吧等的方面：专业性（分不同专属模块，同模块内只允许讨论相关内容），多样性（并非只有知识类内容可供分享讨论，多样性模块提供多种可能），自由度高，隐私保护性强（可匿名，并区别于知乎的匿名等）</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>9.卖点：1.可匿名，老版贴吧可匿名发表评论等，但限于各种原因，现已不再有此功能；2.专属模块可供选择，并可申请创建模块，高归属感；3.客栈主题，贴近论坛要素，并有一定幻想式空间；等等等等</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>10.需完善注册用户方面需求，本项目初始目标为高质量论坛系统，为增加用户依赖度及普及度，故此方面需多做思考</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>11.获利方式：1.启动页广告，2.特定推荐入口，3.消息中心推荐推广，4.付费会员，5.虚拟货币</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>11_1.启动页广告：优点：启动时展示，展示频率高，篇幅巨大，可利用范围充足；缺点:等待时间不好把握，影响体验；处理方式：添加跳过逻辑</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>11_2.特定推荐入口：优点：符合用户习惯，不影响体验，可控制多样性等；缺点：占幅小，点击频率低等；处理方式：可加推送红点等提示诱导点击</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>11_3.消息中心推荐推广：优点：用户关联性强，点击频率高；缺点：降低有效消息纯度，影响体验；处理方式：消息分类，将有效消息分类隔开，降低对有效消息纯度的影响</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>11_4.付费会员：优点：会员特权使得用户粘度增大，更便利；缺点：对产品产生依赖的用户才会成为付费会员用户；处理方式：增加特权，打折互动</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>11_5.虚拟货币：优点：长期内消耗性消费，持续绑定用户的一种方式；缺点：对一般性用户并无虚拟货币类消耗需求；处理方式：可处理为将货币作为客栈管理员权限者进行客栈装饰的唯一通货使用</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>12.内容形式：（暂定）论坛讨论形式及文章说明形式</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>12_1.论坛讨论形式：类似贴吧等产品的帖子形式进行讨论发帖，每条帖子均可进行点赞及评论</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>12_2.文章说明形式：观点类文章，知识说明类文章，长文章形式进行发布，由标题及内容组成，可进行评论点赞等，但要避免垃圾复制内容，另后续或需要增加版权通知等</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>没完没了的话题没完没了的话题没完没了的话题没完没了的话题没完没了的话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
</array>
</plist>
