<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>topicDiscussionContent</key>
		<string>1.主题：客栈主题，不同模块采用客栈区分，如“程序员客栈”、“咖啡客栈”、“宠物客栈”等等等等</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>2.同一客栈内，只允许发布该主题范围内帖子进行讨论</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>3.客栈内帖子内容规范，由客栈管理员进行管理，所以管理员的申请需严谨完善，并制定完善的客栈申请审核制度</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>4.帖子内容可进行点赞评论等，帖子可进行收藏</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>5.可匿名发表评论，但暂定不允许匿名发帖</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>6.匿名需完善的匿名策略（待讨论），不可发布违反法律法规的评论等，经举报后，由管理员严格审核，如属实，实时删除，如不处理，对管理员进行惩罚</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>7.匿名可不登录进行评论，无论登录与否，匿名者半可追踪（根据IP及设备ID），登录者匿名评论不计入账户评论列表，实现真实匿名</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>另一个话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题还有一个话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>没完没了的话题没完没了的话题没完没了的话题没完没了的话题没完没了的话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
	<dict>
		<key>topicDiscussionContent</key>
		<string>话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题话题</string>
	</dict>
</array>
</plist>
